parameters:




doctrine:
	user: 'user'
	password: 'password'
	dbname: 'dbname'
	metadataCache: default
	queryCache: default
	autoGenerateProxyClasses: false
	metadata:
		App: %appDir%/model/entities

tracy:
    bar:
        - Nextras\MailPanel\MailPanel(%tempDir%/mail-panel-latte)

services:
    nette.mailer:
        class: Nette\Mail\IMailer
        factory: Nextras\MailPanel\FileMailer(%tempDir%/mail-panel-mails)