parameters:




doctrine:
	user: 'user'
	password: 'password'
	dbname: 'dbname'
	metadataCache: default
	queryCache: default
	autoGenerateProxyClasses: false
	metadata:
		App: %appDir%/model/entities

