{block content}

<a n:href="Homepage:form" modal  class="btn btn-success "> KUK </a>
<br>
<a n:href="secured! 33">Secured Link</a>
<br>
<a n:href="invoice! 33" class="btn btn-warning">Sample invoice</a>