no_item_found_reset: Žádné položky nenalezeny. Filtr můžete vynulovat
no_item_found: No items found.
here: here
items: Items
all: všechny
from: from
reset_filter: Reset filter
group_actions: Group actions
show_all_columns: Show all columns
hide_column: Hide column
action: Action
previous: Previous
next: Next
choose: choose
execute: execute
save: save
cancel: Cancel
